<h1>Add Question To {{title}}</h1>

{{container|json}}
<mat-card>
    <mat-card-header>
       
        <mat-card-subtitle>Enter The Details Of Question</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-content>
        <form (submit)="questionadd()">
        <ckeditor [editor]="Editor" [(ngModel)]="container.content" 
            name="content"></ckeditor>
            <div class="container">
               <div class="row mt-20">
                <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Enter Option1</mat-label>
                <input matInput required [(ngModel)]="container.option1" name="option1">
                
              </mat-form-field> 
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Option2</mat-label>
                    <input matInput required [(ngModel)]="container.option2" name="option2" type="text" name="option2">
                    
                  </mat-form-field> 
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Enter Option3</mat-label>
                <input matInput required [(ngModel)]="container.option3" name="option3" type="text" name="option3">
                
              </mat-form-field> 
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Option4</mat-label>
                    <input matInput required [(ngModel)]="container.option4" name="option4" type="text" name="option4">
                    
                  </mat-form-field> 
                </div>
            </div>
            </div> 
            
            <mat-form-field class="w100">
                <mat-label>choose answer</mat-label>
                <mat-select [(ngModel)]="container.answer" name="answer">
                 
                  <mat-option *ngIf="container.option1" [value]="container.option1">{{container.option1}}</mat-option>
                  <mat-option *ngIf=container.option2 [value]="container.option2">{{container.option2}}</mat-option>
                  <mat-option *ngIf=container.option3 [value]="container.option3">{{container.option3}}</mat-option>
                  <mat-option *ngIf=container.option4 [value]="container.option4">{{container.option4}}</mat-option>
                </mat-select>
                
              </mat-form-field>
              <div class="container text-center">
                <button mat-raised-button color="primary" type="submit">Add Question</button>
              </div>

            </form>
      </mat-card-content>
    
</mat-card>